ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 10px 0 10px;
}

// Search form

.search-form {
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 30px;
    background: linear-gradient(to right, #4d9749,#152753);

}

.search-form__input {
    margin-right: 10px;
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 1em;
    

    &::placeholder {
        font-size: 16px;
        color: #cccccc;
    }
}

.search-form__button {
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 200ms linear, color 200ms linear;

    &:hover {
    background-color: rgb(21, 39, 83);
        color: #fff;
    }
}

// Gallery

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.photo-card {
    margin: 10px;
    width: 300px;

    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;

    width: calc((100% - 10px * 8) / 4);

}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.load-more {
  

    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50%;
    padding: 12px 24px;
    transform: translateX(-50%);

    font-size: 16px;

    border: none;
    border-radius: 1em;
    background-color: rgb(21, 39, 83);
    color: #ffffff;

    cursor: pointer;
    transition: background-color 200ms linear, color 200ms linear;

    &:hover,
    &:focus {
        background-color: rgb(115, 84, 113);
        color: black;
    }

    &.is-hidden {
        display: none;
    }
}

.text-message {
    margin: 30px 0 30px 0;
    text-align: center;
    font-size: 20px;

    &.is-hidden {
        display: none;
    }
}
